body{
    margin:  auto;
    padding: auto;
    text-align: center;
    font-size: 14px;
    font-family: open-sans,sans-serif;
    --webkit-font-smoothing: antialised;
    text-rendering: optimizelegibility;
    /* max-width: 900px; */
}